<div class="container">

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            <h3>Busca</h3>
            <div class="form-group">
                <label for="search"></label>
                <input type="search" class="form-control" placeholder="Digite sua busca"
                [ngModel]="busca"
                (ngModelChange)="search($event)"
                >
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action cursor-pointer" *ngFor="let c of contatos | async" (click)="verDetalhe(c)">{{c.nome}}</li>
            </ul>


        </div>

    </div>

</div>