<div class="container">
    <h2>Salvar contato</h2>

    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm" novalidate>
        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text"  placeholder="Insira o nome"
                [ngClass]="getFormControlClass(nome.valid, nome.pristine)" 
                required
                name="nome"
                #nome="ngModel"    
                [(ngModel)]="contato.nome">
                <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo acima é obrigatório</div> 
        </div>
            

        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label for="email"  class="form-control-label">e-mail</label>
            <input type="email"  placeholder="insira o email"
            [ngClass]="getFormControlClass(email.valid, email.pristine)" 
            #email="ngModel"
            [(ngModel)]="contato.email" 
            name="email" 
            required>
            <div class="form-control-feedback" [hidden]="email.valid || email.pristine">O campo acima é obrigatório</div> 
        </div>
        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label for="telefone" class="form-control-label">Telefone</label>
            <input type="text" placeholder="insira o telefone"
            [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" 
            #telefone="ngModel"
            [(ngModel)]="contato.telefone" 
            name="telefone" 
            required>
            <div class="form-control-feedback" [hidden]="telefone.valid || telefone.pristine">O campo acima é obrigatório</div> 
        </div>
        
        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a class="btn btn-secondary" (click)="goBack()">Voltar</a>
    </form>
</div>